:root {
  --white-color: #FFF;
  --main-background-color: #212121;

  //BUTTON COLOR SCHEMA

  --button-bg-color: #26A69A;
  --button-hover-bg-color: #00796B;
  --button-text-color: #FFF;

  //CAROUSEL COLOR SCHEMA

  --carousel-controls-color: #00897B;
  --carousel-controls-buttons: rgba(0, 137, 123, .3);

}
